<style>
    .footer {
        margin-top: 50px;
        text-align: center;
        width: 100%;
        background-color: green;
        font-size: 15px;
        color: white;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>
<div class="footer">
    <div class="textfooter">&copy; 2020 PT Kalimantan Prima Persada | SHE Department | District Inde</div>
</div>
