<link href="@Href("~/Content/Simper/style.css")" rel="stylesheet" />
@Html.Partial("Header")
<div class="informationMenu">
    <div class="judul">Simper</div>
    <div class="line"></div>
    <div class="isi">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut
    </div>
</div>
<div class="alur">
    <div class="content">
        <img src="#" alt="Alternate Text" />
        <div class="nameContent">Alur test</div>
    </div>
    <div class="content">
        <div class="arrow"></div>
    </div>
    <div class="content">
        <img src="#" alt="Alternate Text" />
        <div class="nameContent">Alur test</div>
    </div>
    <div class="content">
        <div class="arrow"></div>
    </div>
    <div class="content">
        <img src="#" alt="Alternate Text" />
        <div class="nameContent">Alur test</div>
    </div>
</div>
<div class="invitation">
    <div class="judul">Yuk Buat Simper</div>
    <div class="instruction">Anda ingin membuat Simper? Klik di bawah ini</div>
    <button>Buat</button>
</div>
@Html.Partial("Footer")

